<div class="card">
    <div class="card-body">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam a quis nisi laudantium. Sint, temporibus? Error veritatis tenetur odio eos cum natus commodi assumenda corporis provident voluptatibus!</p>
    </div>
</div>