
    <div id="chatContainer">
    <div id="chatWindow">
      {{#each mensajes}}
      <div id="output"> <strong>{{username}} </strong> : {{message}} </div>
      {{/each}}
      <div id="actions"></div>
    </div>
    <form action="/guardarMensaje" method="POST">
    <input type="text" id="username" name="username" placeholder="ingrese su email">
    <input type="text" id="message" name="message" placeholder="mensaje">
    <button id="send" >Enviar</button>
    </form>
  </div>
    <script  src="js/chat.js"></script>
    <script  src="/socket.io/socket.io.js" ></script>